<!DOCTYPE html>
<html>

    <head>
        <title>Tournament</title>
        <link rel="stylesheet" type="text/css" href="/css/adminhome.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/boxicons.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg header1">
            <a href="javascipt:void(0)"></a>
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse pt-sm-2" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto ">
                        <li class="nav-item p-0 m-0">
                            <a class="btn btn-outline-primary active" aria-current="page" href="/guest/home">Home</a>
                        </li>
                        <li class="nav-item p-0 m-0">
                            <a class="btn btn-outline-primary active" aria-current="page" href="/allteammembers">All Team Members Select</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <a href="/" class="btn btn-outline-primary text-white">Logout</a>
                    </form>
                </div>
            </div>
        </nav>

        <main>
            <aside style="height:180vh">
                <ul>
                    <li>
                        <a href="/allmatches">Browse Tournaments</a>
                    </li>
                    <li>
                        <a href="/highestscore">Top Scorers</a>
                    </li>
                    <li>
                        <a href="/allredcard">Red Cards</a>
                    </li>
                    <li>
                        <a href="/allteammembers">Team Members</a>
                    </li>
                </ul>
            </aside>

            <section>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="row">
                                <div class="col">
                                    <h4 class="page-title">All Teams Members</h4>
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">Home</li>
                                        <li class="breadcrumb-item">All Teams Members</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <h4 for="exampleFormControlInput1" class="form-label">Captains</h4>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Captain Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in row1 %}
                                        <tr>
                                            <th scope="row">{{ row.captain_id }}</th>
                                            <td class="text-start">{{ row.player_name }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <h4 for="exampleFormControlInput1" class="form-label mt-3">Players</h4>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Player Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in row3 %}
                                        <tr>
                                            <th scope="row">{{ row.player_id }}</th>
                                            <td class="text-start">{{ row.player_name }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <h4 for="exampleFormControlInput1" class="form-label mt-3">Coaches Managers</h4>
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Coach Name</th>
                                        <th scope="col">Manager Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in row2 %}
                                        <tr>
                                            <th scope="row">{{ row.member_id }}</th>
                                            <td class="text-start">{{ row.coach_name }}</td>
                                            <td class="text-start">{{ row.manager_name }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <footer>
            <!-- Footer content goes here -->
        </footer>

        <script src="./js/frontend.js"></script>
    </body>

</html>