* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #008CBA;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    font-size: 24px;
}

h1 a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
}

.content-container {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #006D87;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

.margin_con{
    margin-top: 100px;
}